<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">Board</h2>

      <table class="board-table table table-sm border-bottom">

        <thead class="thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col" class="author">Author</th>
            <th scope="col" class="date">Date</th>
          </tr>
        </thead>

        <tbody>
          <% if(posts == null || posts.length == 0){ %>
            <tr>
              <td colspan=2> There is no data to show :( </td>
            </tr>
          <% } %>
          <% posts.forEach(function(post) { %>
            <tr>
              <td>
                <a href="/posts/<%= post._id %><%= getPostQueryString() %>">
                  <div data-search-highlight="title" class="ellipsis"><%= post.title %></div>
                </a>
              </td>
              <td class="author">
                <a href="/posts<%= getPostQueryString(false, { searchType:'author!', searchText:post.author.username }) %>">
                  <div data-search-highlight="author" class="ellipsis"><%= post.author ? post.author.username : "" %></div>
                </a>
              </td>
              <td class="date">
                <span data-date="<%= post.createdAt %>"></span>
              </td>
            </tr>
          <% }) %>
        </tbody>

      </table>

      <div class="row mb-3">

        <div class="col-2">
          <% if(isAuthenticated){ %>
            <a class="btn btn-primary" href="/posts/new<%= getPostQueryString() %>">New</a>
          <% } %>
        </div>

        <nav class="col-8">
          <%
            var offset = 2;
            var previousBtnEnabled = currentPage>1;
            var nextBtnEnabled = currentPage<maxPage;
          %>
          <ul class="pagination pagination-sm justify-content-center align-items-center h-100 mb-0">
            <li class="page-item <%= previousBtnEnabled?'':'disabled' %>">
              <a class="page-link" href="/posts<%= getPostQueryString(false, {page:currentPage-1}) %>" <%= previousBtnEnabled?'':'tabindex=-1' %>>&laquo;</a>
            </li>
            <% for(i=1;i<=maxPage;i++){ %>
              <% if(i==1 || i==maxPage || (i>=currentPage-offset && i<=currentPage+offset)){ %>
                <li class="page-item <%= currentPage==i?'active':'' %>"><a class="page-link" href="/posts<%= getPostQueryString(false, {page:i}) %>"> <%= i %> </a></li>
              <% } else if(i==2 || i==maxPage-1){ %>
                <li><a class="page-link">...</a></li>
              <% } %>
            <% } %>
            <li class="page-item <%= nextBtnEnabled?'':'disabled' %>">
              <a class="page-link" href="/posts<%= getPostQueryString(false, {page:currentPage+1}) %>" <%= nextBtnEnabled?'':'tabindex=-1' %>>&raquo;</a>
            </li>
          </ul>
        </nav>

      </div>

      <form action="/posts" method="get" class="post-index-tool">
        <div class="form-row">

          <div class="form-group col-3">
            <label>Show</label>
            <select name="limit" class="custom-select" onchange="this.parentElement.parentElement.parentElement.submit()">
              <option value="5" <%= limit==5?'selected':'' %>>5 posts</option>
              <option value="10" <%= limit==10?'selected':'' %>>10 posts</option>
              <option value="20" <%= limit==20?'selected':'' %>>20 posts</option>
            </select>
          </div>

          <div class="form-group col-9">
            <label>Search</label>
            <div class="input-group">
              <select name="searchType" class="custom-select">
                <option value="title,body" <%= searchType=='title,body'?'selected':'' %>>Title, Body</option>
                <option value="title" <%= searchType=='title'?'selected':'' %>>Title</option>
                <option value="body" <%= searchType=='body'?'selected':'' %>>Body</option>
                <option value="author" <%= searchType=='author'?'selected':'' %>>Author</option>
              </select>
              <input minLength="3" type="text" name="searchText" value="<%= searchText %>">
              <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </div>
            </div>
          </div>

        </div>
      </form>

    </div>
  </body>
</html>
